@font-face {
    font-family: "Pacifico";
    src: url("/Fonts/pacifico-regular-webfont.woff2") format("woff2"),
         url("/Fonts/pacifico-regular-webfont.woff") format("woff"),
         url("/Fonts/pacifico-regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Arial", sans-serif;
    background-color: #f0e68c;
    background-image: url("/Images/tttBG.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.game-title {
    font-family: "Pacifico", cursive;
    font-size: 48px;
    color: #ff6347;
    margin: 0;
    padding-bottom: 20px;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-container {
    position: relative;
}

#grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Equal column widths */
    grid-gap: 5px;
    width: 420px; /* Adjust based on your design */
    height: 420px; /* Adjust based on your design */
    background-image: url('/Images/bambooGrid.png'); /* Check this path */
    background-size: cover; /* Cover the entire area; adjust as needed */
    background-position: center; /* Center the background */
    background-repeat: no-repeat; /* Prevent repeating */
    position: relative; /* Keep relative for positioning children */
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #fff8dc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative; /* Ensures we can use top/left for adjustments */
}

.cell.coconut {
    background-image: url('/Images/coconut.png'); /* Directly apply coconut image */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.cell.starfish {
    background-image: url('/Images/starfish.png'); /* Directly apply starfish image */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#restartButton {
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #008080;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}
.message-container {
    font-size: 48px;
    font-family: "Pacifico", cursive;
    color: #248ba5; /* Golden color for visibility */
    margin-bottom: 40px; /* Spacing between message and game title */
    height: 30px; /* Ensure the container has height to show messages */
    text-align: center; /* Center the message */
}


